
.container
{
position:relative, center;
width:90%;
margin:auto;
overflow:auto;
font-family: "Cambria", sans;
}
.header
{
height:15%;
background-color:#CEF6EC;
font-family:;
}
.nav
{
background-color:#848484;
height:15%;
}
.nav ul
{
list-style:none;
height:8%;
padding:0px;
margin:0px;
}
.nav ul li
{
float:left;
margin:5px;
}
.main
{
overflow:auto;
float:left;
}
.main_left
{
width:70%;
height:100%;
float:left;
}
.main_right
{
float:right;
width:30%;
height:100%;
background-color:#F8E0EC;
}
.footer
{
margin-top: 20px;
float: right;
width: 100%;
height:10%;
background-color:#848484;
font-size: 10px;
text-align: right;
}
